@import './prism.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* RAG Pipeline Animation Styles */
.rag-pipeline {
  offset-anchor: 10px 0px;
  animation: rag-pipeline-animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-duration: 4s;
  animation-delay: 1s;
}

.rag-light-1 {
  offset-path: path("M 40 10 v 15 q 0 5 5 5 h 20 q 5 0 5 5 v 25");
}

.rag-light-2 {
  offset-path: path("M 80 10 v 15 q 0 5 5 5 h 20 q 5 0 5 5 v 25");
}

.rag-light-3 {
  offset-path: path("M 120 10 v 15 q 0 5 5 5 h 20 q 5 0 5 5 v 25");
}

.rag-light-4 {
  offset-path: path("M 160 10 v 15 q 0 5 5 5 h 20 q 5 0 5 5 v 25");
}

@keyframes rag-pipeline-animation-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
